___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___
# Ecommerce Purchases Exercise

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.
____
** Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom. **

In [3]:
import pandas as pd
ecom=pd.read_csv(r"C:\Users\abine\OneDrive\Documents\Datasets\ecommerce\ecommerce.csv")

**Check the head of the DataFrame.**

In [4]:
ecom.head()

,Source.Name,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,Ecommerce Purchases,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6.011930e+15,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,Ecommerce Purchases,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3.337760e+15,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Ecommerce Purchases,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",6.759580e+11,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,Ecommerce Purchases,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6.011580e+15,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,Ecommerce Purchases,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6.011460e+15,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

** How many rows and columns are there? **

In [5]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 15 columns):
Source.Name         10000 non-null object
Address             10000 non-null object
Lot                 10000 non-null object
AM or PM            10000 non-null object
Browser Info        10000 non-null object
Company             10000 non-null object
Credit Card         10000 non-null float64
CC Exp Date         10000 non-null object
CC Security Code    10000 non-null int64
CC Provider         10000 non-null object
Email               10000 non-null object
Job                 10000 non-null object
IP Address          10000 non-null object
Language            10000 non-null object
Purchase Price      10000 non-null float64
dtypes: float64(2), int64(1), object(12)
memory usage: 1.1+ MB

** What is the average Purchase Price? **

In [6]:
ecom["Purchase Price"].mean()

50.34730200000025

** What were the highest and lowest purchase prices? **

In [7]:
ecom["Purchase Price"].max()

99.99

In [8]:
ecom["Purchase Price"].min()

0.0

** How many people have English 'en' as their Language of choice on the website? **

In [64]:
len(ecom.loc[ecom["Language"]=="en"]["Company"])

1098

** How many people have the job title of "Lawyer" ? **

In [29]:
len(ecom.loc[ecom["Job"]=="Lawyer"]["Company"])

30

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [33]:
ecom["AM or PM"].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

** What are the 5 most common Job Titles? **

In [37]:
ecom["Job"].value_counts().head(5)

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Designer, jewellery                  27
Research officer, political party    27
Name: Job, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [39]:
ecom.loc[ecom["Lot"]=="90 WT"]["Purchase Price"]

513    75.1
Name: Purchase Price, dtype: float64

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [48]:
ecom.loc[ecom["Credit Card"]==6.011930e+15]["Email"]

0                   pdunlap@yahoo.com
898                 qdorsey@yahoo.com
1027            woodsalison@yahoo.com
1964            hannanicole@mills.com
2126            hooverdavid@yahoo.com
2149       reynoldsjonathan@brown.com
2444              ortizrobert@ho.info
2755               thomas10@yahoo.com
4328    johnfrederick@mills-baker.com
6662            clarksharon@gmail.com
7640           hoffmanperry@yahoo.com
8951          yrios@bryant-lawson.com
Name: Email, dtype: object

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [59]:
q=ecom.loc[ecom["CC Provider"]=="American Express"]
len(q.loc[q["Purchase Price"]>95])

39

** Hard: How many people have a credit card that expires in 2025? **

In [71]:
ecom.loc[ecom["CC Exp Date"]=="01/25"].count()

Source.Name         91
Address             91
Lot                 91
AM or PM            91
Browser Info        91
Company             91
Credit Card         91
CC Exp Date         91
CC Security Code    91
CC Provider         91
Email               91
Job                 91
IP Address          91
Language            91
Purchase Price      91
dtype: int64

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [79]:
ecom["Email"].value_counts().head(5)

cgray@gmail.com       2
john99@hotmail.com    2
david91@gmail.com     2
david39@gmail.com     2
leekathy@yahoo.com    2
Name: Email, dtype: int64

# Great Job!