In [3]:
'''
ARRAY:::less space and time compared to list or list in list'''
import numpy as np
#1D
arr1=np.array([1,2,3,4,5,6])
print(arr1)
#2D
arr2=np.array([[1,2,3,4],[5,6,7,8]])
print(arr2)
'''
images-->2D
employees(row),31 days(colmn),month(layer)---->3D
                                                 adding year---->4D
'''
arr3=np.array([(1,2,3,4),(5,6,7,8),(9,10,11,12)])
print(arr3)

[1 2 3 4 5 6]
[[1 2 3 4]
 [5 6 7 8]]
[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

In [56]:
a=np.zeros(10,dtype=int)   #dtype=int/float
print(a)
b=np.ones((3,5),dtype=int)    #default=float
print(b)
c=np.full((3,5),3.14)
print(c)

[0 0 0 0 0 0 0 0 0 0]
[[[1 1 1 1 1]
  [1 1 1 1 1]
  [1 1 1 1 1]]

 [[1 1 1 1 1]
  [1 1 1 1 1]
  [1 1 1 1 1]]]
[[3.14 3.14 3.14 3.14 3.14]
 [3.14 3.14 3.14 3.14 3.14]
 [3.14 3.14 3.14 3.14 3.14]]

In [45]:
grid1=np.linspace(0,100,5)
print(grid1)
grid2=np.arange(20)
print(grid2)
#reshape to change matrix to multi dim

[  0.  25.  50.  75. 100.]
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]

In [74]:
'''
ATTRIBUTES
ndim-dim of array
size-size
shape-shape
dtype-data type
itemsize-size of each elmnts in bytes
nbytes-list the size of whole array in bytes
'''
tim=np.ones((5,5),dtype=int)
print(tim.ndim)
print(tim.shape)
print(tim.size)
print(tim.dtype)
print(tim.itemsize)
print(tim.nbytes)

2
(5, 5)
25
int32
4
100

In [75]:
#Array Indexing
b=tim[1,2]         #arr[3,4]
print(b)
print(tim)
tim[1,2]=20        #arr[3,4]=25
print(tim)

1
[[1 1 1 1 1]
 [1 1 1 1 1]
 [1 1 1 1 1]
 [1 1 1 1 1]
 [1 1 1 1 1]]
[[ 1  1  1  1  1]
 [ 1  1 20  1  1]
 [ 1  1  1  1  1]
 [ 1  1  1  1  1]
 [ 1  1  1  1  1]]

In [77]:
#Array Slicing
print(tim[:2,:3]) #1st 2 rows & 1st 3 colmns
print(tim[2:,3:])
print(tim[:,::2]) #every othe col-alternative col
print(tim[::-1,::-1])  #reverse the array

[[ 1  1  1]
 [ 1  1 20]]
[[1 1]
 [1 1]
 [1 1]]
[[ 1  1  1]
 [ 1 20  1]
 [ 1  1  1]
 [ 1  1  1]
 [ 1  1  1]]
[[ 1  1  1  1  1]
 [ 1  1  1  1  1]
 [ 1  1  1  1  1]
 [ 1  1 20  1  1]
 [ 1  1  1  1  1]]

In [86]:
#reshaping
tim1=np.ones((9,3),dtype=int)
print(tim1)
tim1.reshape((3,3,3))

[[1 1 1]
 [1 1 1]
 [1 1 1]
 [1 1 1]
 [1 1 1]
 [1 1 1]
 [1 1 1]
 [1 1 1]
 [1 1 1]]

array([[[1, 1, 1],
        [1, 1, 1],
        [1, 1, 1]],

       [[1, 1, 1],
        [1, 1, 1],
        [1, 1, 1]],

       [[1, 1, 1],
        [1, 1, 1],
        [1, 1, 1]]])

In [94]:
#newasxis
print(tim1)
print(tim1[np.newaxis,:])

[[1 1 1]
 [1 1 1]
 [1 1 1]
 [1 1 1]
 [1 1 1]
 [1 1 1]
 [1 1 1]
 [1 1 1]
 [1 1 1]]
[[[1 1 1]
  [1 1 1]
  [1 1 1]
  [1 1 1]
  [1 1 1]
  [1 1 1]
  [1 1 1]
  [1 1 1]
  [1 1 1]]]

In [101]:
#numpy ops
'''
min
max
sum
sum of axis
sqr root
STD
'''
a=np.array([(1,4,2),(4,5,6),(10,33,55)])
print(a)
print(a.max())
print(a.min())
print(a.sum())

[[ 1  4  2]
 [ 4  5  6]
 [10 33 55]]
55
1
120

In [20]:
#axis
#0=colmn
#1=row
print(a.sum(axis=0))
#sqrt
print(np.sqrt(a))
print(np.absolute(np.sqrt(a)))
#STD stndrd dev
print(a.std())
print(a.var())

[12 15 18]
[[1.         1.41421356 1.73205081]
 [2.         2.23606798 2.44948974]
 [2.64575131 2.82842712 3.        ]]
[[1.         1.41421356 1.73205081]
 [2.         2.23606798 2.44948974]
 [2.64575131 2.82842712 3.        ]]
2.581988897471611
6.666666666666667

In [34]:
a=np.array([[1,2,3],[4,5,6],[7,8,9]])
b=np.array([[4,5,6],[7,8,9],[1,2,3]])
print(a)
print(b)
print(a+b)
print(a-b)
print(a*b)
print(a+1)
print(a>b)
print(a<b)
print(a==b)
print(np.count_nonzero(a))
g=a[a>0] #masking-->to get the all values greater than 0 in array instead of boolean values
print(g)

[[1 2 3]
 [4 5 6]
 [7 8 9]]
[[4 5 6]
 [7 8 9]
 [1 2 3]]
[[ 5  7  9]
 [11 13 15]
 [ 8 10 12]]
[[-3 -3 -3]
 [-3 -3 -3]
 [ 6  6  6]]
[[ 4 10 18]
 [28 40 54]
 [ 7 16 27]]
[[ 2  3  4]
 [ 5  6  7]
 [ 8  9 10]]
[[False False False]
 [False False False]
 [ True  True  True]]
[[ True  True  True]
 [ True  True  True]
 [False False False]]
[[False False False]
 [False False False]
 [False False False]]
9
[1 2 3 4 5 6 7 8 9]
2

In [1]:
q=np.array([[2,3,3],[3,2,3],[3,3,2]])
print("array\n",q)
p=np.sum(q,axis=0)
print("total colmn\n",p)
v=np.sum(q==3,axis=0)
print("occurences\n",v)
s=np.sum(q[q==3],axis=0)
print("total of specific no\n",s)
#w=np.sum(q==3,axis=0,initial=0)
#print("total of specific no in colmn\n",w)

NameError: name 'np' is not defined

In [9]:
a=np.array([(2,3,5),(6,7,8),(12,34,50)])
b=np.array([(1,4,2),(4,5,6),(10,33,55)])
print(a,'\n',b)
print(np.add(a,b))
print(a+b)
print(np.absolute(np.subtract(a,b)))
print(np.absolute(a-b))
print(np.multiply(a,b))
print(a*b)
print(np.divide(a,b))
print(a/b)

[[ 2  3  5]
 [ 6  7  8]
 [12 34 50]]
 [[ 1  4  2]
 [ 4  5  6]
 [10 33 55]]
[[  3   7   7]
 [ 10  12  14]
 [ 22  67 105]]
[[  3   7   7]
 [ 10  12  14]
 [ 22  67 105]]
[[1 1 3]
 [2 2 2]
 [2 1 5]]
[[1 1 3]
 [2 2 2]
 [2 1 5]]
[[   2   12   10]
 [  24   35   48]
 [ 120 1122 2750]]
[[   2   12   10]
 [  24   35   48]
 [ 120 1122 2750]]
[[2.         0.75       2.5       ]
 [1.5        1.4        1.33333333]
 [1.2        1.03030303 0.90909091]]
[[2.         0.75       2.5       ]
 [1.5        1.4        1.33333333]
 [1.2        1.03030303 0.90909091]]

In [70]:
#fancy indexing
one_d=np.array([1,2,3,4,5,6,7,8,9])
two_d=np.array([(1,2,3,4),(5,6,7,8),(5,23,78,1)])
three_d=np.array([[(1,2,3,4),(5,6,7,8),(5,23,78,1)],[(5,6,7,8),(5,23,78,1),(1,2,3,4)],[(5,23,78,1),(1,2,3,4),(5,6,7,8)]])

print(one_d)
print(one_d[5],one_d[2],one_d[7])

ind=[5,2,7]
print(one_d[ind])

print(two_d)
print(two_d[1,2])
print(two_d[2,2])

row=[0,1,2]
col=[2,2,2]
two_d[row,col]

[1 2 3 4 5 6 7 8 9]
6 3 8
[6 3 8]
[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 5 23 78  1]]
7
78

array([ 3,  7, 78])

In [76]:
print(two_d)
#combined indexing
print(two_d[2,[2,0,1]]) #maths type opening brackets it will be (2,2),(2,0),(2,1)
#combined slicing
print(two_d[0:,[0,2]])

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 5 23 78  1]]
[78  5 23]
[[ 1  3]
 [ 5  7]
 [ 5 78]]

In [77]:
a=np.random.randn(10)
print(a)

a=np.random.randint(10,size=5)
print(a)

[-0.49067819  1.02621601 -0.2102414  -0.78503293  1.24425037 -1.64543763
 -0.64284442  0.52172263  1.98947785 -0.72331908]
[6 5 5 3 9]

In [97]:
x=np.array([(1,2.,'Hello'),(2,3.,"World")],dtype=[('number','i4'),('decimal','f4'),('character','S10')])
print(x)

print(x['number'])
print(x['decimal'])

x['number']
x['decimal']

[(1, 2., b'Hello') (2, 3., b'World')]
[1 2]
[2. 3.]

array([2., 3.], dtype=float32)