In [1]:
import pandas as pd

In [13]:
arr=[0,1,2,3,4,5]
s1=pd.Series(arr)
s1
#leeft index rignht value

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [3]:
order=['a','b','c','d','e','f']
s2=pd.Series(arr,index=order)
s2

a    0
b    1
c    2
d    3
e    4
f    5
dtype: int64

In [4]:
import numpy as np
n=np.random.randn(5)
index=['a','b','c','d','e']
n=pd.Series(n,index=index)
print(n)

s7=n.index=[1,2,3,4,5]
print(n)

a    0.772203
b   -0.233340
c    1.144190
d   -0.346273
e    1.483545
dtype: float64
1    0.772203
2   -0.233340
3    1.144190
4   -0.346273
5    1.483545
dtype: float64

In [5]:
d={1:{'a':[1,2,3]},2:'b',3:'c',4:'d'}
s3=pd.Series(d)
s3

1    {'a': [1, 2, 3]}
2                   b
3                   c
4                   d
dtype: object

In [6]:
d={1:'a',2:'b',3:'c',4:'d'}
s3=pd.Series(d)
s3

1    a
2    b
3    c
4    d
dtype: object

In [7]:
d={4:'a',3:'b',2:'c',1:'d'}
s3=pd.Series(d)
s3

4    a
3    b
2    c
1    d
dtype: object

In [8]:
#slicing
print(s1)
print(s1[:3])
print(s1[:-1])
print(s1[-2:])
print(s1[-2::-1])

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64
0    0
1    1
2    2
dtype: int64
0    0
1    1
2    2
3    3
4    4
dtype: int64
4    4
5    5
dtype: int64
4    4
3    3
2    2
1    1
0    0
dtype: int64

In [11]:
s4=s1.append(s3)
print(s4)
print(s4.drop([4,4]))
s8=s1.copy()
s8

0    0
1    1
2    2
3    3
4    4
5    5
4    a
3    b
2    c
1    d
dtype: object
0    0
1    1
2    2
3    3
5    5
3    b
2    c
1    d
dtype: object

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [49]:
a={1:1,2:2,3:3}
aa=pd.Series(a)
b={1:5,2:6,3:7}
bb=pd.Series(b)
print(aa.add(bb))
print(aa.sub(bb))
print(aa.mul(bb))
print(aa.div(bb))

1     6
2     8
3    10
dtype: int64
1   -4
2   -4
3   -4
dtype: int64
1     5
2    12
3    21
dtype: int64
1    0.200000
2    0.333333
3    0.428571
dtype: float64

In [50]:
print('median',bb.median())
print('mean',bb.mean())
print('mode',bb.mode())
print('max',bb.max())
print('min',bb.min())

median 6.0
mean 6.0
mode 0    5
1    6
2    7
dtype: int64
max 7
min 5

In [51]:
#loc,iloc
qq={1:'a',2:'aa',3:'b',4:'bb',5:'c',6:'cc'}
s6=pd.Series(qq)
print(s6)

print("s6[1]",s6[1])       #from key/label
print("s6[1:4]",s6[1:4])   #based on index
#to avoid confusion
print(s6.loc[1:4])       #based on key/label
print(s6.iloc[1:4])     #based on index

1     a
2    aa
3     b
4    bb
5     c
6    cc
dtype: object
s6[1] a
s6[1:4] 2    aa
3     b
4    bb
dtype: object
1     a
2    aa
3     b
4    bb
dtype: object
2    aa
3     b
4    bb
dtype: object

In [52]:
import numpy as np
dates=pd.date_range('today',periods=6)
print(dates)
num_arr=np.random.randn(6,4)  #6 rows  4 colmns
print(num_arr)
col=['a','b','c','d']
df=pd.DataFrame(num_arr,index=dates,columns=col)
df

DatetimeIndex(['2019-12-03 12:53:35.085929', '2019-12-04 12:53:35.085929',
               '2019-12-05 12:53:35.085929', '2019-12-06 12:53:35.085929',
               '2019-12-07 12:53:35.085929', '2019-12-08 12:53:35.085929'],
              dtype='datetime64[ns]', freq='D')
[[ 2.09826542 -0.61782401  0.92811082  0.54313513]
 [-0.40980537  0.48901358  0.60255889  0.86189685]
 [ 0.78097538  0.27036684  0.81291714 -0.70237917]
 [-0.88621092  1.14014632  1.51076319 -0.66838214]
 [-0.08093232  0.75075803 -0.4653232   0.5879682 ]
 [ 0.11764658  0.55718725 -1.0321149   0.6639993 ]]

                                   a         b         c         d
2019-12-03 12:53:35.085929  2.098265 -0.617824  0.928111  0.543135
2019-12-04 12:53:35.085929 -0.409805  0.489014  0.602559  0.861897
2019-12-05 12:53:35.085929  0.780975  0.270367  0.812917 -0.702379
2019-12-06 12:53:35.085929 -0.886211  1.140146  1.510763 -0.668382
2019-12-07 12:53:35.085929 -0.080932  0.750758 -0.465323  0.587968
2019-12-08 12:53:35.085929  0.117647  0.557187 -1.032115  0.663999

In [53]:
#from dict
import numpy as np
andata={'type':['cat','dog','snake','giraffe','cat','dog','snake','cat','dog','giraffe'],
       'Number':[2,3,np.nan,4,3,3,2,1,np.nan,5],
       'visited':[2,np.nan,3,3,4,1,np.nan,2,1,1]}
labels=['a','b','c','d','e','f','g','h','i','j']
print(labels)
df2=pd.DataFrame(andata,index=labels)
print(df2)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
      type  Number  visited
a      cat     2.0      2.0
b      dog     3.0      NaN
c    snake     NaN      3.0
d  giraffe     4.0      3.0
e      cat     3.0      4.0
f      dog     3.0      1.0
g    snake     2.0      NaN
h      cat     1.0      2.0
i      dog     NaN      1.0
j  giraffe     5.0      1.0

In [54]:
#datatypes of array
print('data type\n',df2.dtypes)
print('\nhead\n',df2.head)
print(df2.head(3))
df3=df2.head(4)
print(df3)
print('\ntail\n',df2.tail(3)) #last 10
print('\nindex',df2.index)
print('\ncol\n',df2.columns)
print('\nvalues\n',df2.values)

data type
 type        object
Number     float64
visited    float64
dtype: object

head
 <bound method NDFrame.head of       type  Number  visited
a      cat     2.0      2.0
b      dog     3.0      NaN
c    snake     NaN      3.0
d  giraffe     4.0      3.0
e      cat     3.0      4.0
f      dog     3.0      1.0
g    snake     2.0      NaN
h      cat     1.0      2.0
i      dog     NaN      1.0
j  giraffe     5.0      1.0>
    type  Number  visited
a    cat     2.0      2.0
b    dog     3.0      NaN
c  snake     NaN      3.0
      type  Number  visited
a      cat     2.0      2.0
b      dog     3.0      NaN
c    snake     NaN      3.0
d  giraffe     4.0      3.0

tail
       type  Number  visited
h      cat     1.0      2.0
i      dog     NaN      1.0
j  giraffe     5.0      1.0

index Index(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'], dtype='object')

col
 Index(['type', 'Number', 'visited'], dtype='object')

values
 [['cat' 2.0 2.0]
 ['dog' 3.0 nan]
 ['snake' nan 3.0]
 ['giraffe' 4.0 3.0]
 ['cat' 3.0 4.0]
 ['dog' 3.0 1.0]
 ['snake' 2.0 nan]
 ['cat' 1.0 2.0]
 ['dog' nan 1.0]
 ['giraffe' 5.0 1.0]]

In [55]:
df4=df2.copy()
print(df4.isnull())
df4.loc[['b','d'],'visited']=1.5
print(df4)
meanvisit=df3[['visited']].mean()
print(meanvisit)
print(df4.describe())

    type  Number  visited
a  False   False    False
b  False   False     True
c  False    True    False
d  False   False    False
e  False   False    False
f  False   False    False
g  False   False     True
h  False   False    False
i  False    True    False
j  False   False    False
      type  Number  visited
a      cat     2.0      2.0
b      dog     3.0      1.5
c    snake     NaN      3.0
d  giraffe     4.0      1.5
e      cat     3.0      4.0
f      dog     3.0      1.0
g    snake     2.0      NaN
h      cat     1.0      2.0
i      dog     NaN      1.0
j  giraffe     5.0      1.0
visited    2.666667
dtype: float64
         Number   visited
count  8.000000  9.000000
mean   2.875000  1.888889
std    1.246423  1.024017
min    1.000000  1.000000
25%    2.000000  1.000000
50%    3.000000  1.500000
75%    3.250000  2.000000
max    5.000000  4.000000

In [56]:
#stats of df
print(df4.describe())
#transpose
print(df4.T)
print(df4.sort_values(by='visited'))
#slicing df
df4[1:3]
sorted_v=df4.sort_values(by='visited')[1:3]
print(sorted_v)

         Number   visited
count  8.000000  9.000000
mean   2.875000  1.888889
std    1.246423  1.024017
min    1.000000  1.000000
25%    2.000000  1.000000
50%    3.000000  1.500000
75%    3.250000  2.000000
max    5.000000  4.000000
           a    b      c        d    e    f      g    h    i        j
type     cat  dog  snake  giraffe  cat  dog  snake  cat  dog  giraffe
Number     2    3    NaN        4    3    3      2    1  NaN        5
visited    2  1.5      3      1.5    4    1    NaN    2    1        1
      type  Number  visited
f      dog     3.0      1.0
i      dog     NaN      1.0
j  giraffe     5.0      1.0
b      dog     3.0      1.5
d  giraffe     4.0      1.5
a      cat     2.0      2.0
h      cat     1.0      2.0
c    snake     NaN      3.0
e      cat     3.0      4.0
g    snake     2.0      NaN
      type  Number  visited
i      dog     NaN      1.0
j  giraffe     5.0      1.0

In [57]:
print(df4)
print(df4.isnull())
print(df4.fillna('Nooo'))
print(df4.fillna(method='ffill'))
print(df4[['visited']].fillna(meanvisit))
meanvisit

      type  Number  visited
a      cat     2.0      2.0
b      dog     3.0      1.5
c    snake     NaN      3.0
d  giraffe     4.0      1.5
e      cat     3.0      4.0
f      dog     3.0      1.0
g    snake     2.0      NaN
h      cat     1.0      2.0
i      dog     NaN      1.0
j  giraffe     5.0      1.0
    type  Number  visited
a  False   False    False
b  False   False    False
c  False    True    False
d  False   False    False
e  False   False    False
f  False   False    False
g  False   False     True
h  False   False    False
i  False    True    False
j  False   False    False
      type Number visited
a      cat      2       2
b      dog      3     1.5
c    snake   Nooo       3
d  giraffe      4     1.5
e      cat      3       4
f      dog      3       1
g    snake      2    Nooo
h      cat      1       2
i      dog   Nooo       1
j  giraffe      5       1
      type  Number  visited
a      cat     2.0      2.0
b      dog     3.0      1.5
c    snake     3.0      3.0
d  giraffe     4.0      1.5
e      cat     3.0      4.0
f      dog     3.0      1.0
g    snake     2.0      1.0
h      cat     1.0      2.0
i      dog     1.0      1.0
j  giraffe     5.0      1.0
    visited
a  2.000000
b  1.500000
c  3.000000
d  1.500000
e  4.000000
f  1.000000
g  2.666667
h  2.000000
i  1.000000
j  1.000000

visited    2.666667
dtype: float64

In [76]:
print(df4)
print("is na")
print(df4.isna())
print("drop any row/col with any na")
df6=df4.dropna(how='any')
print(df6)
#DatFrameName.dropna(axis=0,how='any',thresh=None),subset=None,inplace=False
print("original")
print(df4)
print("drop with inplace /thresh")
df10=df4.copy()
df10.dropna(how='any',inplace=True,thresh=3) #min 3 nan values to survive ,,#inplace df10 will be acffected
#if 3--->0,1,2,3 nan  will survive 
print(df10)

df11=df4.copy()
print(df11.sort_values(by='visited',ascending=False,na_position='first')) #nan will com first in visited

      type  Number  visited
a      cat     2.0      2.0
b      dog     3.0      1.5
c    snake     NaN      3.0
d  giraffe     4.0      1.5
e      cat     3.0      4.0
f      dog     3.0      1.0
g    snake     2.0      NaN
h      cat     1.0      2.0
i      dog     NaN      1.0
j  giraffe     5.0      1.0
is na
    type  Number  visited
a  False   False    False
b  False   False    False
c  False    True    False
d  False   False    False
e  False   False    False
f  False   False    False
g  False   False     True
h  False   False    False
i  False    True    False
j  False   False    False
drop any row/col with any na
      type  Number  visited
a      cat     2.0      2.0
b      dog     3.0      1.5
d  giraffe     4.0      1.5
e      cat     3.0      4.0
f      dog     3.0      1.0
h      cat     1.0      2.0
j  giraffe     5.0      1.0
original
      type  Number  visited
a      cat     2.0      2.0
b      dog     3.0      1.5
c    snake     NaN      3.0
d  giraffe     4.0      1.5
e      cat     3.0      4.0
f      dog     3.0      1.0
g    snake     2.0      NaN
h      cat     1.0      2.0
i      dog     NaN      1.0
j  giraffe     5.0      1.0
drop with inplace /thresh
      type  Number  visited
a      cat     2.0      2.0
b      dog     3.0      1.5
d  giraffe     4.0      1.5
e      cat     3.0      4.0
f      dog     3.0      1.0
h      cat     1.0      2.0
j  giraffe     5.0      1.0
      type  Number  visited
g    snake     2.0      NaN
e      cat     3.0      4.0
c    snake     NaN      3.0
a      cat     2.0      2.0
h      cat     1.0      2.0
b      dog     3.0      1.5
d  giraffe     4.0      1.5
f      dog     3.0      1.0
i      dog     NaN      1.0
j  giraffe     5.0      1.0

In [3]:
area=pd.Series({'Andaman':432156,'AP':789654,'Kerala':456321,'Kolkata':632541,'TN':987456,'MH':854769})
pop=pd.Series({'Andaman':664645,'AP':632133,'Kerala':662323,'Kolkata':564131,'TN':112121,'MH':63232})       
data=pd.DataFrame({'Area':area,'Pop':pop})
print(data)

#Retrieve
print('____________________________')
print(data['Area'])
print(data.Area) #datatype showing
print(data)      #stores data type also

           Area     Pop
Andaman  432156  664645
AP       789654  632133
Kerala   456321  662323
Kolkata  632541  564131
TN       987456  112121
MH       854769   63232
____________________________
Andaman    432156
AP         789654
Kerala     456321
Kolkata    632541
TN         987456
MH         854769
Name: Area, dtype: int64
Andaman    432156
AP         789654
Kerala     456321
Kolkata    632541
TN         987456
MH         854769
Name: Area, dtype: int64
           Area     Pop
Andaman  432156  664645
AP       789654  632133
Kerala   456321  662323
Kolkata  632541  564131
TN       987456  112121
MH       854769   63232

In [14]:
#iloc,loc
print('________iloc___________')
print(data.iloc[:3,:2])
print('________loc___________')
print(data.loc['Andaman'])
print('_________new col__________')
#add new colmn with operation
data['density']=data['Pop']/data['Area']
print(data)
print('________ix___________')
print(data.ix[:3,:'Pop'])
print('_________?__________')
print(data.loc[data.density>1.5,['Area','density']])

________iloc___________
           Area     Pop
Andaman  432156  664645
AP       789654  632133
Kerala   456321  662323
________loc___________
Area       432156.000000
Pop        664645.000000
density         1.537975
Name: Andaman, dtype: float64
_________new col__________
           Area     Pop   density
Andaman  432156  664645  1.537975
AP       789654  632133  0.800519
Kerala   456321  662323  1.451441
Kolkata  632541  564131  0.891849
TN       987456  112121  0.113545
MH       854769   63232  0.073976
________ix___________
           Area     Pop
Andaman  432156  664645
AP       789654  632133
Kerala   456321  662323
_________?__________
           Area   density
Andaman  432156  1.537975

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  # This is added back by InteractiveShellApp.init_path()

In [5]:
#hierarchial
import numpy as np
dataset=pd.DataFrame(np.random.rand(4,2),
                    index=[['a','a','b','b'],[2019,2018,2019,2019]],
                    columns=['data1','data2'])
print(dataset)

           data1     data2
a 2019  0.873125  0.835663
  2018  0.246250  0.558033
b 2019  0.766891  0.185471
  2019  0.580514  0.592493

In [23]:
#dataframe file operations
print(data)
#save to file directory
data.to_csv(r'C:/Users/abine/OneDrive/Documents/Datasets/city.csv')
#to python working dir
#data.to_csv('city2.csv')
#data.to_excel('city3.xlsx',sheet_name='Sheet1')

           Area     Pop   density
Andaman  432156  664645  1.537975
AP       789654  632133  0.800519
Kerala   456321  662323  1.451441
Kolkata  632541  564131  0.891849
TN       987456  112121  0.113545
MH       854769   63232  0.073976

In [3]:
df_city=pd.read_csv(r'C:/Users/abine/OneDrive/Documents/Datasets/city.csv')
df_city
df_city.columns=['City','Area','Pop','Density']
df_city

      City    Area     Pop   Density
0  Andaman  432156  664645  1.537975
1       AP  789654  632133  0.800519
2   Kerala  456321  662323  1.451441
3  Kolkata  632541  564131  0.891849
4       TN  987456  112121  0.113545
5       MH  854769   63232  0.073976

In [14]:
iris=pd.read_csv(r'C:\Users\abine\OneDrive\Documents\Datasets\Iris\Iris.csv')
iris
#if data frame is a single col/row squeezw will convert it into series
iris2=pd.read_csv(r'C:\Users\abine\OneDrive\Documents\Datasets\Iris\Iris.csv',squeeze=True)
print(iris2)
type(iris2)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
5      6            5.4           3.9            1.7           0.4
6      7            4.6           3.4            1.4           0.3
7      8            5.0           3.4            1.5           0.2
8      9            4.4           2.9            1.4           0.2
9     10            4.9           3.1            1.5           0.1
10    11            5.4           3.7            1.5           0.2
11    12            4.8           3.4            1.6           0.2
12    13            4.8           3.0            1.4           0.1
13    14            4.3           3.0            1.1           0.1
14    15            5.8           4.0            1.2           0.2
15    16            5.7           4.4            1.5           0.4
16    17            5.4           3.9            1.3           0.4
17    18            5.1           3.5            1.4           0.3
18    19            5.7           3.8            1.7           0.3
19    20            5.1           3.8            1.5           0.3
20    21            5.4           3.4            1.7           0.2
21    22            5.1           3.7            1.5           0.4
22    23            4.6           3.6            1.0           0.2
23    24            5.1           3.3            1.7           0.5
24    25            4.8           3.4            1.9           0.2
25    26            5.0           3.0            1.6           0.2
26    27            5.0           3.4            1.6           0.4
27    28            5.2           3.5            1.5           0.2
28    29            5.2           3.4            1.4           0.2
29    30            4.7           3.2            1.6           0.2
..   ...            ...           ...            ...           ...
120  121            6.9           3.2            5.7           2.3
121  122            5.6           2.8            4.9           2.0
122  123            7.7           2.8            6.7           2.0
123  124            6.3           2.7            4.9           1.8
124  125            6.7           3.3            5.7           2.1
125  126            7.2           3.2            6.0           1.8
126  127            6.2           2.8            4.8           1.8
127  128            6.1           3.0            4.9           1.8
128  129            6.4           2.8            5.6           2.1
129  130            7.2           3.0            5.8           1.6
130  131            7.4           2.8            6.1           1.9
131  132            7.9           3.8            6.4           2.0
132  133            6.4           2.8            5.6           2.2
133  134            6.3           2.8            5.1           1.5
134  135            6.1           2.6            5.6           1.4
135  136            7.7           3.0            6.1           2.3
136  137            6.3           3.4            5.6           2.4
137  138            6.4           3.1            5.5           1.8
138  139            6.0           3.0            4.8           1.8
139  140            6.9           3.1            5.4           2.1
140  141            6.7           3.1            5.6           2.4
141  142            6.9           3.1            5.1           2.3
142  143            5.8           2.7            5.1           1.9
143  144            6.8           3.2            5.9           2.3
144  145            6.7           3.3            5.7           2.5
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
5       Iris-setosa
6       Iris-setosa
7       Iris-setosa
8       Iris-setosa
9       Iris-setosa
10      Iris-setosa
11      Iris-setosa
12      Iris-setosa
13      Iris-setosa
14      Iris-setosa
15      Iris-setosa
16      Iris-setosa
17      Iris-setosa
18      Iris-setosa
19      Iris-setosa
20      Iris-setosa
21      Iris-setosa
22      Iris-setosa
23      Iris-setosa
24      Iris-setosa
25      Iris-setosa
26      Iris-setosa
27      Iris-setosa
28      Iris-setosa
29      Iris-setosa
..              ...
120  Iris-virginica
121  Iris-virginica
122  Iris-virginica
123  Iris-virginica
124  Iris-virginica
125  Iris-virginica
126  Iris-virginica
127  Iris-virginica
128  Iris-virginica
129  Iris-virginica
130  Iris-virginica
131  Iris-virginica
132  Iris-virginica
133  Iris-virginica
134  Iris-virginica
135  Iris-virginica
136  Iris-virginica
137  Iris-virginica
138  Iris-virginica
139  Iris-virginica
140  Iris-virginica
141  Iris-virginica
142  Iris-virginica
143  Iris-virginica
144  Iris-virginica
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

pandas.core.frame.DataFrame

In [34]:
print(iris.isnull())

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
5    False          False         False          False         False    False
6    False          False         False          False         False    False
7    False          False         False          False         False    False
8    False          False         False          False         False    False
9    False          False         False          False         False    False
10   False          False         False          False         False    False
11   False          False         False          False         False    False
12   False          False         False          False         False    False
13   False          False         False          False         False    False
14   False          False         False          False         False    False
15   False          False         False          False         False    False
16   False          False         False          False         False    False
17   False          False         False          False         False    False
18   False          False         False          False         False    False
19   False          False         False          False         False    False
20   False          False         False          False         False    False
21   False          False         False          False         False    False
22   False          False         False          False         False    False
23   False          False         False          False         False    False
24   False          False         False          False         False    False
25   False          False         False          False         False    False
26   False          False         False          False         False    False
27   False          False         False          False         False    False
28   False          False         False          False         False    False
29   False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
120  False          False         False          False         False    False
121  False          False         False          False         False    False
122  False          False         False          False         False    False
123  False          False         False          False         False    False
124  False          False         False          False         False    False
125  False          False         False          False         False    False
126  False          False         False          False         False    False
127  False          False         False          False         False    False
128  False          False         False          False         False    False
129  False          False         False          False         False    False
130  False          False         False          False         False    False
131  False          False         False          False         False    False
132  False          False         False          False         False    False
133  False          False         False          False         False    False
134  False          False         False          False         False    False
135  False          False         False          False         False    False
136  False          False         False          False         False    False
137  False          False         False          False         False    False
138  False          False         False          False         False    False
139  False          False         False          False         False    False
140  False          False         False          False         False    False
141  False          False         False          False         False    False
142  False          False         False          False         False    False
143  False          False         False          False         False    False
144  False          False         False          False         False    False
145  False          False         False          False         False    False
146  False          False         False          False         False    False
147  False          False         False          False         False    False
148  False          False         False          False         False    False
149  False          False         False          False         False    False

[150 rows x 6 columns]

In [5]:
#group by
print("__________mean____________")
print(iris.groupby(iris['Species']).mean())
print("__________sum____________")
print(iris.groupby(iris['Species']).sum())
print("__________median____________")
print(iris.groupby(iris['Species']).median())

iris['SepalLengthCm'].mean()

__________mean____________
                    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  \
Species
Iris-setosa       25.5          5.006         3.418          1.464
Iris-versicolor   75.5          5.936         2.770          4.260
Iris-virginica   125.5          6.588         2.974          5.552

                 PetalWidthCm
Species
Iris-setosa             0.244
Iris-versicolor         1.326
Iris-virginica          2.026
__________sum____________
                   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  \
Species
Iris-setosa      1275          250.3         170.9           73.2
Iris-versicolor  3775          296.8         138.5          213.0
Iris-virginica   6275          329.4         148.7          277.6

                 PetalWidthCm
Species
Iris-setosa              12.2
Iris-versicolor          66.3
Iris-virginica          101.3
__________median____________
                    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  \
Species
Iris-setosa       25.5            5.0           3.4           1.50
Iris-versicolor   75.5            5.9           2.8           4.35
Iris-virginica   125.5            6.5           3.0           5.55

                 PetalWidthCm
Species
Iris-setosa               0.2
Iris-versicolor           1.3
Iris-virginica            2.0

5.843333333333335

In [62]:
print('___________summarise____________')
print(iris.describe())
print('___________summarise manually____________')
count=iris['SepalLengthCm'].count()
print("count of obs:",count)
print("__________max____________")
max=iris[['SepalLengthCm','PetalLengthCm','SepalWidthCm','PetalWidthCm']].max()
print("max of each col",max)
print('__________what max length_____________')
max1=iris['SepalLengthCm'].max()
print("max value of 1 column",max1)
print("__________How many values for each specxies___________")
counts=iris['Species'].value_counts()
print('count value for each species',counts)
print("_________________no. of null unique sepal len and petal len_______________________")
uni=iris[['SepalLengthCm','PetalLengthCm']].nunique()
print("non-null unique sepal & petal len:",uni)
print("___________________STD of sepal & petal len_________________________")
print(iris["SepalLengthCm"].std())
print(iris["PetalLengthCm"].std())
print(iris[["SepalLengthCm","PetalLengthCm"]].std())
print("___________________mode_________________________")
print(iris[["SepalLengthCm","PetalLengthCm"]].mode())

___________summarise____________
               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000
___________summarise manually____________
count of obs: 150
__________max____________
max of each col SepalLengthCm    7.9
PetalLengthCm    6.9
SepalWidthCm     4.4
PetalWidthCm     2.5
dtype: float64
__________what max length_____________
max value of 1 column 7.9
__________How many values for each specxies___________
count value for each species Iris-virginica     50
Iris-versicolor    50
Iris-setosa        50
Name: Species, dtype: int64
_________________no. of null unique sepal len and petal len_______________________
non-null unique sepal & petal len: SepalLengthCm    35
PetalLengthCm    43
dtype: int64
___________________STD of sepal & petal len_________________________
0.8280661279778629
1.7644204199522617
SepalLengthCm    0.828066
PetalLengthCm    1.764420
dtype: float64
___________________mode_________________________
   SepalLengthCm  PetalLengthCm
0            5.0            1.5

In [16]:
#groupby() functn returns agrpby obj- how the rows of original data set has been split
#grps variable is a dict whose keys are the computed unique grps

iris_grup=iris.groupby(['SepalLengthCm']).groups.keys()
print(iris_grup)
print("__________________")
iris_grup=iris.groupby(['Species']).groups.keys()
print(iris_grup)
print("__________________")

counts_group=len(iris.groupby(['SepalLengthCm']).groups[5])
print("counts of group 5.0:",counts_group)

dict_keys([4.3, 4.4, 4.5, 4.6, 4.7, 4.8, 4.9, 5.0, 5.1, 5.2, 5.3, 5.4, 5.5, 5.6, 5.7, 5.8, 5.9, 6.0, 6.1, 6.2, 6.3, 6.4, 6.5, 6.6, 6.7, 6.8, 6.9, 7.0, 7.1, 7.2, 7.3, 7.4, 7.6, 7.7, 7.9])
__________________
dict_keys(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'])
__________________
counts of group 5.0: 10

In [41]:
iris[iris["SepalLengthCm"]==5]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
4,5,5.0,3.6,1.4,0.2,Iris-setosa
7,8,5.0,3.4,1.5,0.2,Iris-setosa
25,26,5.0,3.0,1.6,0.2,Iris-setosa
26,27,5.0,3.4,1.6,0.4,Iris-setosa
35,36,5.0,3.2,1.2,0.2,Iris-setosa
40,41,5.0,3.5,1.3,0.3,Iris-setosa
43,44,5.0,3.5,1.6,0.6,Iris-setosa
49,50,5.0,3.3,1.4,0.2,Iris-setosa
60,61,5.0,2.0,3.5,1.0,Iris-versicolor
93,94,5.0,2.3,3.3,1.0,Iris-versicolor