In [1]:
import pandas as pd
wine=pd.read_csv(r'C:\Users\abine\OneDrive\Documents\Datasets\wine_quality\winequality-red.csv',delimiter=';')
print(wine)

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0               7.4             0.700         0.00             1.9      0.076
1               7.8             0.880         0.00             2.6      0.098
2               7.8             0.760         0.04             2.3      0.092
3              11.2             0.280         0.56             1.9      0.075
4               7.4             0.700         0.00             1.9      0.076
5               7.4             0.660         0.00             1.8      0.075
6               7.9             0.600         0.06             1.6      0.069
7               7.3             0.650         0.00             1.2      0.065
8               7.8             0.580         0.02             2.0      0.073
9               7.5             0.500         0.36             6.1      0.071
10              6.7             0.580         0.08             1.8      0.097
11              7.5             0.500         0.36             6.1      0.071
12              5.6             0.615         0.00             1.6      0.089
13              7.8             0.610         0.29             1.6      0.114
14              8.9             0.620         0.18             3.8      0.176
15              8.9             0.620         0.19             3.9      0.170
16              8.5             0.280         0.56             1.8      0.092
17              8.1             0.560         0.28             1.7      0.368
18              7.4             0.590         0.08             4.4      0.086
19              7.9             0.320         0.51             1.8      0.341
20              8.9             0.220         0.48             1.8      0.077
21              7.6             0.390         0.31             2.3      0.082
22              7.9             0.430         0.21             1.6      0.106
23              8.5             0.490         0.11             2.3      0.084
24              6.9             0.400         0.14             2.4      0.085
25              6.3             0.390         0.16             1.4      0.080
26              7.6             0.410         0.24             1.8      0.080
27              7.9             0.430         0.21             1.6      0.106
28              7.1             0.710         0.00             1.9      0.080
29              7.8             0.645         0.00             2.0      0.082
...             ...               ...          ...             ...        ...
1569            6.2             0.510         0.14             1.9      0.056
1570            6.4             0.360         0.53             2.2      0.230
1571            6.4             0.380         0.14             2.2      0.038
1572            7.3             0.690         0.32             2.2      0.069
1573            6.0             0.580         0.20             2.4      0.075
1574            5.6             0.310         0.78            13.9      0.074
1575            7.5             0.520         0.40             2.2      0.060
1576            8.0             0.300         0.63             1.6      0.081
1577            6.2             0.700         0.15             5.1      0.076
1578            6.8             0.670         0.15             1.8      0.118
1579            6.2             0.560         0.09             1.7      0.053
1580            7.4             0.350         0.33             2.4      0.068
1581            6.2             0.560         0.09             1.7      0.053
1582            6.1             0.715         0.10             2.6      0.053
1583            6.2             0.460         0.29             2.1      0.074
1584            6.7             0.320         0.44             2.4      0.061
1585            7.2             0.390         0.44             2.6      0.066
1586            7.5             0.310         0.41             2.4      0.065
1587            5.8             0.610         0.11             1.8      0.066
1588            7.2             0.660         0.33             2.5      0.068
1589            6.6             0.725         0.20             7.8      0.073
1590            6.3             0.550         0.15             1.8      0.077
1591            5.4             0.740         0.09             1.7      0.089
1592            6.3             0.510         0.13             2.3      0.076
1593            6.8             0.620         0.08             1.9      0.068
1594            6.2             0.600         0.08             2.0      0.090
1595            5.9             0.550         0.10             2.2      0.062
1596            6.3             0.510         0.13             2.3      0.076
1597            5.9             0.645         0.12             2.0      0.075
1598            6.0             0.310         0.47             3.6      0.067

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                    11.0                  34.0  0.99780  3.51       0.56
1                    25.0                  67.0  0.99680  3.20       0.68
2                    15.0                  54.0  0.99700  3.26       0.65
3                    17.0                  60.0  0.99800  3.16       0.58
4                    11.0                  34.0  0.99780  3.51       0.56
5                    13.0                  40.0  0.99780  3.51       0.56
6                    15.0                  59.0  0.99640  3.30       0.46
7                    15.0                  21.0  0.99460  3.39       0.47
8                     9.0                  18.0  0.99680  3.36       0.57
9                    17.0                 102.0  0.99780  3.35       0.80
10                   15.0                  65.0  0.99590  3.28       0.54
11                   17.0                 102.0  0.99780  3.35       0.80
12                   16.0                  59.0  0.99430  3.58       0.52
13                    9.0                  29.0  0.99740  3.26       1.56
14                   52.0                 145.0  0.99860  3.16       0.88
15                   51.0                 148.0  0.99860  3.17       0.93
16                   35.0                 103.0  0.99690  3.30       0.75
17                   16.0                  56.0  0.99680  3.11       1.28
18                    6.0                  29.0  0.99740  3.38       0.50
19                   17.0                  56.0  0.99690  3.04       1.08
20                   29.0                  60.0  0.99680  3.39       0.53
21                   23.0                  71.0  0.99820  3.52       0.65
22                   10.0                  37.0  0.99660  3.17       0.91
23                    9.0                  67.0  0.99680  3.17       0.53
24                   21.0                  40.0  0.99680  3.43       0.63
25                   11.0                  23.0  0.99550  3.34       0.56
26                    4.0                  11.0  0.99620  3.28       0.59
27                   10.0                  37.0  0.99660  3.17       0.91
28                   14.0                  35.0  0.99720  3.47       0.55
29                    8.0                  16.0  0.99640  3.38       0.59
...                   ...                   ...      ...   ...        ...
1569                 15.0                  34.0  0.99396  3.48       0.57
1570                 19.0                  35.0  0.99340  3.37       0.93
1571                 15.0                  25.0  0.99514  3.44       0.65
1572                 35.0                 104.0  0.99632  3.33       0.51
1573                 15.0                  50.0  0.99467  3.58       0.67
1574                 23.0                  92.0  0.99677  3.39       0.48
1575                 12.0                  20.0  0.99474  3.26       0.64
1576                 16.0                  29.0  0.99588  3.30       0.78
1577                 13.0                  27.0  0.99622  3.54       0.60
1578                 13.0                  20.0  0.99540  3.42       0.67
1579                 24.0                  32.0  0.99402  3.54       0.60
1580                  9.0                  26.0  0.99470  3.36       0.60
1581                 24.0                  32.0  0.99402  3.54       0.60
1582                 13.0                  27.0  0.99362  3.57       0.50
1583                 32.0                  98.0  0.99578  3.33       0.62
1584                 24.0                  34.0  0.99484  3.29       0.80
1585                 22.0                  48.0  0.99494  3.30       0.84
1586                 34.0                  60.0  0.99492  3.34       0.85
1587                 18.0                  28.0  0.99483  3.55       0.66
1588                 34.0                 102.0  0.99414  3.27       0.78
1589                 29.0                  79.0  0.99770  3.29       0.54
1590                 26.0                  35.0  0.99314  3.32       0.82
1591                 16.0                  26.0  0.99402  3.67       0.56
1592                 29.0                  40.0  0.99574  3.42       0.75
1593                 28.0                  38.0  0.99651  3.42       0.82
1594                 32.0                  44.0  0.99490  3.45       0.58
1595                 39.0                  51.0  0.99512  3.52       0.76
1596                 29.0                  40.0  0.99574  3.42       0.75
1597                 32.0                  44.0  0.99547  3.57       0.71
1598                 18.0                  42.0  0.99549  3.39       0.66

      alcohol  quality
0         9.4        5
1         9.8        5
2         9.8        5
3         9.8        6
4         9.4        5
5         9.4        5
6         9.4        5
7        10.0        7
8         9.5        7
9        10.5        5
10        9.2        5
11       10.5        5
12        9.9        5
13        9.1        5
14        9.2        5
15        9.2        5
16       10.5        7
17        9.3        5
18        9.0        4
19        9.2        6
20        9.4        6
21        9.7        5
22        9.5        5
23        9.4        5
24        9.7        6
25        9.3        5
26        9.5        5
27        9.5        5
28        9.4        5
29        9.8        6
...       ...      ...
1569     11.5        6
1570     12.4        6
1571     11.1        6
1572      9.5        5
1573     12.5        6
1574     10.5        6
1575     11.8        6
1576     10.8        6
1577     11.9        6
1578     11.3        6
1579     11.3        5
1580     11.9        6
1581     11.3        5
1582     11.9        5
1583      9.8        5
1584     11.6        7
1585     11.5        6
1586     11.4        6
1587     10.9        6
1588     12.8        6
1589      9.2        5
1590     11.6        6
1591     11.6        6
1592     11.0        6
1593      9.5        6
1594     10.5        5
1595     11.2        6
1596     11.0        6
1597     10.2        5
1598     11.0        6

[1599 rows x 12 columns]

In [98]:
wine.describe()[["fixed acidity","volatile acidity","citric acid","density","pH","alcohol","quality"]]

,fixed acidity,volatile acidity,citric acid,density,pH,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,0.996747,3.311113,10.422983,5.636023
std,1.741096,0.179060,0.194801,0.001887,0.154386,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.990070,2.740000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,0.995600,3.210000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,0.996750,3.310000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,0.997835,3.400000,11.100000,6.000000
max,15.900000,1.580000,1.000000,1.003690,4.010000,14.900000,8.000000

In [217]:
print("MEAN")
print(wine[["pH","alcohol","quality"]].mean())

MEAN
pH          3.311113
alcohol    10.422983
quality     5.636023
dtype: float64

In [100]:
print("MODE")
print(wine[["pH","alcohol","quality"]].mode())

MODE
    pH  alcohol  quality
0  3.3      9.5        5

In [101]:
print("MEDIAN")
print(wine[["pH","alcohol","quality"]].median())

MEDIAN
pH          3.31
alcohol    10.20
quality     6.00
dtype: float64

In [102]:
best=wine.loc[(wine["quality"]==8)|(wine["quality"]==7)]
best
best.describe()[["fixed acidity","volatile acidity","citric acid","density","pH","alcohol","quality"]]

,fixed acidity,volatile acidity,citric acid,density,pH,alcohol,quality
count,217.000000,217.000000,217.000000,217.000000,217.000000,217.000000,217.000000
mean,8.847005,0.405530,0.376498,0.996030,3.288802,11.518049,7.082949
std,1.999977,0.144963,0.194438,0.002201,0.154478,0.998153,0.276443
min,4.900000,0.120000,0.000000,0.990640,2.880000,9.200000,7.000000
25%,7.400000,0.300000,0.300000,0.994700,3.200000,10.800000,7.000000
50%,8.700000,0.370000,0.400000,0.995720,3.270000,11.600000,7.000000
75%,10.100000,0.490000,0.490000,0.997350,3.380000,12.200000,7.000000
max,15.600000,0.915000,0.760000,1.003200,3.780000,14.000000,8.000000

In [103]:
print("MODE")
print(best[["pH","alcohol","quality"]].mode())

MODE
     pH  alcohol  quality
0  3.26     11.0      7.0
1   NaN     11.7      NaN

In [86]:
wine[["pH","alcohol","quality"]].median()

pH          3.31
alcohol    10.20
quality     6.00
dtype: float64

In [220]:
wine.sort_values(by="quality")[["quality"]]["quality"].unique()

array([3, 4, 5, 6, 7, 8], dtype=int64)

In [80]:
#sort=wine.sort_values(by="quality",ascending=False)[["pH","alcohol","quality"]]
#print(sort)

In [77]:
#print(wine.sort_values(by="alcohol",ascending=False)[["pH","alcohol","quality"]])

In [76]:
#print(wine.sort_values(by="pH",ascending=False)[["pH","alcohol","quality"]])

In [75]:
#print(wine.sort_values(by=["alcohol","pH"],ascending=False)[["pH","alcohol","quality"]])

In [113]:
wine['quality'].corr(best['quality'])

0.9999999999999998

In [116]:
wine['pH'].corr(best['pH'])

1.0

In [191]:
pvt=wine.pivot_table(index=["quality"],values=["alcohol","pH"],aggfunc="mean")
print(pvt)

           alcohol        pH
quality
3         9.955000  3.398000
4        10.265094  3.381509
5         9.899706  3.304949
6        10.629519  3.318072
7        11.465913  3.290754
8        12.094444  3.267222

In [8]:
grp=wine.groupby(wine['quality']).mean()
srp=grp[["alcohol"]]
print(srp)

           alcohol
quality
3         9.955000
4        10.265094
5         9.899706
6        10.629519
7        11.465913
8        12.094444

In [216]:

dataset=pd.DataFrame(srp,
                     index=[["BAD","BAD","OK","OK","GOOD","GOOD"],[3,4,5,6,7,8]],
                     columns=["mean_alcohol"])
print(dataset)

        mean_alcohol
BAD  3           NaN
     4           NaN
OK   5           NaN
     6           NaN
GOOD 7           NaN
     8           NaN

In [194]:

dataset1=pd.DataFrame(pvt,
                     index=[["BAD","BAD","OK","OK","GOOD","GOOD"],[3,4,5,6,7,8]],
                     columns=["mean_alcohol","mean_pH"])
print(dataset1)

        mean_alcohol  mean_pH
BAD  3           NaN      NaN
     4           NaN      NaN
OK   5           NaN      NaN
     6           NaN      NaN
GOOD 7           NaN      NaN
     8           NaN      NaN